In [6]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

def rmse(act, pred):
    return np.sqrt(((act - pred) ** 2).mean())

In [7]:
train = pd.read_csv('~/tensorflow_python3/July/day3/train.csv')
test = pd.read_csv('~/tensorflow_python3/July/day3/test.csv')
train.head()

,City,Number of weekly riders,Price per week,Population of city,Monthly income of riders,Average parking rates per month
0,1,192000,15,1800000,5800,50
1,2,190400,15,1790000,6200,50
2,3,191200,15,1780000,6400,60
3,4,177600,25,1778000,6500,60
4,5,176800,25,1750000,6550,60

In [8]:
# 画图发现有个一数据比较异常，去掉
train.drop(17, inplace=True)

# 其实还构造了一些特征，但是发现效果反而更差

In [9]:
model = LinearRegression().fit(train.iloc[:, 2:], train.iloc[:, 1])
result = model.predict(test.iloc[:, 2:])
print('result: ', result)
print('rmse: %f' % rmse(test.iloc[:, 1], result))

result:  [ 148094.18615449  145160.9268216   142162.20347695  139512.0388438
  141874.8389332   147656.85634884  154532.36985167]
rmse: 11119.280825